fredapi 
dotenv
astroid
attrs
avro
awscli
backcall
bleach
boto3
botocore
colorama
cycler
decorator
defusedxml
docutils
entrypoints
fastavro
fastparquet
flake8
fsspec
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jmespath
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
lab
lazy-object-proxy
llvmlite
MarkupSafe
matplotlib
mccabe
mistune
nbconvert
nbformat
notebook
numba
numpy
pandas
pandavro
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pyarrow
pyasn1
pycodestyle
pyflakes
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
rsa
s3fs
s3transfer
Send2Trash
simplejson
six
terminado
testpath
thrift
tornado
traitlets
typed-ast
urllib3
wcwidth
webencodings
widgetsnbextension
wrapt